root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.{css,js,json,jsonc,md,sh,yaml,yml}]
indent_size = 2

[*.{md,tpl}]
trim_trailing_whitespace = false

[examples/synthetic/sources/*.md]
end_of_line = crlf